{% extends "base.html" %}

{% block title %}O nás{% endblock %}

{% block content %}
<div class="jumbotron mt-4" style="background-color: #e3f2fd; color: #0d47a1;">
    <h1 class="display-4">O nás</h1>
    <p class="lead" style="color: #01579b;">Inšpirujeme zmenu prostredníctvom dobrovoľníctva</p>
    <hr class="my-4">
    <p style="color: #01579b;">Našou misiou je spojiť nadšených dobrovoľníkov s významnými projektami, podporovať pocit komunity a pozitívne ovplyvňovať svet.</p>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h2 style="color: #0277bd;">Naša vízia</h2>
            <p style="color: #01579b;">Predstavujeme si svet, kde má každý možnosť prispieť k veciam, na ktorých mu záleží, vytvárajúc globálnu sieť posilnených jednotlivcov pracujúcich na spoločnom dobre.</p>
        </div>
        <div class="col-md-6">
            <h2 style="color: #0277bd;">Naše ciele</h2>
            <ul style="color: #01579b;">
                <li>Poskytnúť platformu pre dobrovoľníkov, aby mohli nájsť a zapojiť sa do významných projektov.</li>
                <li>Podporiť organizátorov pri riadení ich podujatí a nájdení oddaných účastníkov.</li>
                <li>Podporiť komunitu rovnako zmýšľajúcich jednotlivcov, ktorí sa zaviazali robiť rozdiel.</li>
            </ul>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h2 style="color: #0277bd;">Zapojte sa</h2>
            <p style="color: #01579b;">Či už chcete dobrovoľničiť alebo organizovať podujatie, naša platforma poskytuje všetky nástroje, ktoré potrebujete na skutočný vplyv. Pridajte sa k nám dnes a začnite robiť rozdiel vo svojej komunite!</p>
            {% if not current_user.is_authenticated %}
            <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button" id="join-us-btn" style="background-color: #64b5f6; border-color: #64b5f6;">Pridajte sa k nám dnes</a>
            {% endif %}
        </div>
    </div>
</div>

<script>
    // JavaScript pre zmenu farby tlačidla na zelenú po prejdení myšou
    const joinUsBtn = document.getElementById('join-us-btn');

    if (joinUsBtn) {
        joinUsBtn.addEventListener('mouseover', () => {
            joinUsBtn.style.backgroundColor = '#8bc34a';  // Zelená farba
            joinUsBtn.style.borderColor = '#8bc34a';     // Zelená farba aj pre okraj
        });

        joinUsBtn.addEventListener('mouseout', () => {
            joinUsBtn.style.backgroundColor = '#64b5f6';  // Pôvodná modrá farba
            joinUsBtn.style.borderColor = '#64b5f6';     // Pôvodná modrá farba aj pre okraj
        });
    }
</script>
{% endblock %}
