{% extends "base.html" %}

{% block title %}Nové Podujatie{% endblock %}

{% block content %}
<div class="jumbotron mt-4" style="background-color: #e8f5e9; color: #2e7d32;">
    <h1 class="display-4">Vytvoriť Nové Podujatie</h1>
    <p class="lead">Vytvorte podujatie a pridajte sa k našej komunite!</p>
    <hr class="my-4">
    <form method="POST" action="{{ url_for('new_event') }}">
        <div class="form-group">
            <label for="title" style="color: #388e3c;">Názov Podujatia</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Zadajte názov podujatia" style="border-color: #43a047;">
        </div>
        <div class="form-group">
            <label for="description" style="color: #388e3c;">Popis</label>
            <textarea class="form-control" id="description" name="description" placeholder="Zadajte popis podujatia" style="border-color: #43a047;"></textarea>
        </div>
        <div class="form-group">
            <label for="category" style="color: #388e3c;">Kategória</label>
            <input type="text" class="form-control" id="category" name="category" placeholder="Zadajte kategóriu podujatia" style="border-color: #43a047;">
        </div>
        <div class="form-group">
            <label for="location" style="color: #388e3c;">Miesto</label>
            <input type="text" class="form-control" id="location" name="location" placeholder="Zadajte miesto podujatia" style="border-color: #43a047;">
        </div>
        <div class="form-group">
            <label for="date_posted" style="color: #388e3c;">Dátum</label>
            <input type="text" class="form-control" id="date_posted" name="date_posted" placeholder="Zadajte dátum" style="border-color: #43a047;">
        </div>
        <button type="submit" class="btn btn-primary btn-lg" style="background-color: #43a047; border-color: #43a047;">Vytvoriť Podujatie</button>
    </form>
</div>
{% endblock %}
